# Data and Model Checkpoints
data/
models/

# W&B log files  
wandb/

# Cloud authentication keys
keys/
gha-creds-*.json
.env
frontend/.streamlit/secrets.toml

# IntelliJ IDEs
.idea/

# Python-specific 
venv/
__pycache__/
.ipynb_checkpoints/
